@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply p-2 bg-transparent outline outline-2 outline-lime-400 rounded-md block mt-5;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: #1f3d5a;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	color: #7fb3f1;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}
